{% extends "layout.html" %}
{% block content %}
{%for user in users%}
<div class = "container">
      <article class="media content-section">
        <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{url_for('politicians', username = user.username)}}">Username: {{ user.username }}</a>
      </div>
        <h1  href="#">Political Party: {{ user.party }}</h1>
          <h1  href="#">Location: {{ user.userAddress }}</h1>
    </article>
</div>
{%endfor%}
{% endblock content %}